/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

   --blue: #05104f;
  --orange: #e57103;
  --gray: #646464;
  --oxford-blue: #303a82;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(45deg,#242C64,#e57103);
  --bg-footer: #E0E0E0;
  --bg-footer-lite: #EAEAEA;
  /**
   * typography
   */

  --ff-roboto: "Montserrat", sans-serif;

  --fs-1: 5rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.8rem;
  --fs-5: 1.5rem;
  --fs-6: 1.4rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * spacing
   */

  --section-padding: 100px;

  /**
   * shadow
   */




  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-pill: 20px;
  --radius-6: 6px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
button,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-roboto);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.5;
  overflow-x: hidden;
}

/* body.active { overflow-y: hidden; } */

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.bg-gradient{background-image: var(--gradient);}

.section { padding-block: var(--section-padding); }

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1,
.h2,
.h3,
.h4 { line-height: 1.4; }

.h1 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.btn {
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  max-width: max-content;
  color: var(--white);
  background-color: var(--orange);
  padding: 10px 45px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
}

.btn2 {
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  max-width: max-content;
  color: var(--white);
  background-color: var(--orange);
  padding: 10px 45px;
  border-radius: var(--radius-10);
  transition: var(--transition-1);
}
.btn3 {
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  max-width: max-content;
  color: var(--black);
  background-color: var(--white);
  padding: 10px 45px;
  border-radius: var(--radius-10);
  transition: var(--transition-1);
}

.btn-primary:is(:hover, :focus) { box-shadow: var(--shadow-2); }

.w-100 { width: 100%; }

.text { font-size: var(--fs-5); }

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.section-text { margin-block: 15px 35px; }

.grid-list {
  display: grid;
  gap: 30px;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-2);
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn { display: none; }

.header {
  background-color: var(--white);
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding-block: 12px;
  box-shadow: var(--shadow-1);
  z-index: 1000;
}

.header.active {
  position: fixed;
  z-index: 1000;
  animation: slideInTop 0.5s ease forwards;
}

@keyframes slideInTop {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle-btn {
  color: var(--black);
  font-size: 35px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close { display: none; }

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close { display: block; }

.navbar {
  position: absolute;
  top: 74px;
  left: -350px;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  background-color: var(--white);
  padding: 20px;
  transition: 0.25s var(--cubic-out);
  visibility: hidden;
}

.navbar.active {
  visibility: visible;
  transform: translateX(350px);
  transition-duration: 0.5s;
}

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--black_20); }

.navbar-link {
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) { color: var(--orange); }
.navbar-link:is(:hover, :focus) {
  border: 10px solid;
  border: 0 0 0 ;
  border-image-slice: 1;
  border-width:  0 0 5px 0; 
  border-image-source: linear-gradient(to right, #05104f 10%, #e57103 70%);
 }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { 
  padding-block-start: calc(var(--section-padding) + 70px ); 
  height: 70vh;
  position: relative;
}

.hero .container {
  position: relative;
  display: grid;
  gap: 20px;
}

.hero-title {
  font-size: 4.4rem;
  font-weight: var(--fw-500);
  margin-block: 8px;
  color: var(--blue);
}

.girl-image{
  position: absolute;
  bottom: 0;
  z-index: 11;
  transform: translateY(50px);
}


/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service { text-align: center; }

.service-list {
  display: grid;
  gap: 20px;
}

.service .section-title{
  text-align: start;
  color: var(--oxford-blue);
  margin-bottom: 15px;
}

.service-card {
  position: relative;
  padding: 20px;
  border-radius: var(--radius-6);
  transition: var(--transition-1);
  overflow: hidden;
  -webkit-box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.63);
-moz-box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.63);
box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.63);
  }

.card-content{padding-top: 60px;}
.service-card .btn2 { margin-top: 40px; }
  .service-card .card-title { 
    margin-block: 20px 5px;
  color: var(--oxford-blue);
  line-height: 1;
 }

.service-card :is(.card-title, .card-text) { transition: var(--transition-1); text-align: start;}

.service-card:hover {
  background-color: var(--white);
  transform: translateY(-5px);
}

.service-image-Wrapper{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/
.about{
  position: relative;
}
.about .container {
  display: grid;
  gap: 30px;
}

.about-subtitle {
  font-size: var(--fs-5);
  color: var(--white);
}

.about .section-text { 
  margin-block: 8px 15px;
  color: var(--white);

 }
 .about .section-title{
  color: var(--white);
 }

 .hand-image-Wrapper{
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;
 };
 

/*-----------------------------------*\
  #VALUES
\*-----------------------------------*/
.value{
  background-repeat: no-repeat;
  background-size: cover;
}
.value .grid-list{
  justify-content: center;
}
.value .section-title { font-size: 4rem; }

.value-card {
  
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
  /* max-width: 350px; */
}

.value :is(.section-title, .section-subtitle, ) { color: white}
.value :is(.section-subtitle, ) { margin-bottom: 30px;}

.value-card:is(:hover, :focus-within) .img-cover { transform: scale(1.05); }

.value-card .card-content { 
  padding: 20px; width: 100%; 
  display: flex; flex-direction: column;
  gap: 20px;  
  align-items: center; }

.value-card .card-subtitle { color: var(--blue); }
.value-card .card-title { color: var(--blue); }

.value-card .text { line-height: 1;}
 


/*-----------------------------------*\
  #Clients
\*-----------------------------------*/

.clients .section-title { text-align: start; color: var(--oxford-blue); margin-bottom: 30px; }
.clients .container{
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.service-card:hover {
  background-color: var(--white);
  transform: translateY(-5px);
}


/* CLIENTS SLIDER */

.slider {
  --slider-item: 1;

  position: relative;
  margin-inline: -8px;
  padding: 4px 12px;
  overflow-x: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  transition: transform 300ms ease;
}

.slider-item {
  min-width: calc(100% / var(--slider-item));
  width: calc(100% / var(--slider-item));
  padding-inline: 12px;
}


.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--orange);
  font-size: 1.7rem;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
}

.slider-btn:is(:hover, :focus-visible) { background-color: var(--orange); }

.slider-btn:disabled { display: none; }

.slider-btn.prev { left: 10px; }

.slider-btn.next { right: 10px; }

.client-card{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.review-card{
  /* border: 1px solid gray; */
  padding: 40px;
  -webkit-box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.63);
  -moz-box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.63);
  box-shadow: -1px 1px 9px -3px rgba(0,0,0,0.63);
  
}
.review-card .content{
  display: flex;
}
.review-image {
  /* max-width: 300px ; */
  display: flex;
  flex: 1;
  /* width: 40%; */
  justify-content: center;
  align-items: center;

}
.review-image img{
  width: 100%;
}

  .review-card .text-content{
    font-size: 2rem;
  flex: 3;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  justify-content: flex-start;
  border-left: 3px solid #c5c4c4;
  padding-left: 20px;
}
.review-card .text{
  font-size: 1rem;
}
.review-card .name{
  font-size: 1.2rem;
  color: var(--blue);
  font-weight: 500;
  text-align: start;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer{
  background-color: var(--bg-footer);

}

.footer-top {
  display: grid;
  gap: 60px;
}

.social-list{display: flex; margin-block: 30px; gap: 30px;}

.footer-list-title,
.footer-text { margin-block-end: 15px; }

.contact-item {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.contact-item:not(:last-child) { margin-block-end: 15px; }

.contact-title {
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.footer-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-start: 15px;
}

.address-list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-list:not(.social-list) ion-icon { font-size: 14px; }

.footer-bottom {
  background-color: var(--bg-footer-lite);
  display: flex;
  justify-content: center;
  padding-block: 35px;
}

.copyright{
  font-size: var(--fs-4);
  display: flex;
}.copyright span{
  margin-left: 0.5rem;
  font-size: var(--fs-4);
  font-weight: 600;
}



/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--white);
  font-size: 18px;
  padding: 12px;
  border-radius: var(--radius-circle);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 4;
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 3.6rem;
    --fs-3: 2.4rem;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .h2 { font-size: var(--fs-1); }

  .h4 { --fs-4: 2rem; }

  .text { font-size: unset; }

  /**
   *  Hero
   */
  .hero{
    height: 100vh;
  }
  .hero-title{
    font-size: 5rem;
  }

  /**
   *  FOOTER
   */
  .footer-top { grid-template-columns: 1fr 1fr; }

}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .grid-list { grid-template-columns: 1fr 1fr; }



  


  /**
   * ABOUT
   */

  .about-banner { max-width: max-content; }



  /**
   * Clients
   */

   .review-card .text{
    font-size: 1.6rem;
  }
  .review-card .name{
    font-size: 2rem;
    color: var(--blue);
    font-weight: 500;
    text-align: start;
  }
  /**
   * SERVICE
   */

  .service-list { grid-template-columns: 1fr 1fr; }

}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 6rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .grid-list { grid-template-columns: 1fr 1fr; }

  .section-text {
    max-width: 70ch;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .header {
    background-color: transparent;
    box-shadow: none;
    padding-block: 20px;
  }

  .header.active {
    background-color: var(--white);
    box-shadow: var(--shadow-1);
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-list {
    display: flex;
    gap: 40px;
  }

  .navbar-item:not(:last-child) { border: none; }

  .header .btn {
    display: block;
    padding-inline: 40px;
  }

  .header .btn:is(:hover, :focus) { box-shadow: var(--shadow-3); }

  /**
   * HERO
   */

   .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }.hero{
    height: 110vh;
  }



  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .hand-image-Wrapper{
    display: flex;
  }

  /**
   * SERVICE
   */

  .service-card {
    display: flex;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    padding: 30px;
  }

  .service-card .card-title { margin-block: 0 10px; }


  /**
   * FOOTER
   */

  .footer-top { grid-template-columns: 1fr 0.5fr 0.5fr 0.75fr; }

}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 3.6rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }

  .section-text {
    max-width: 75ch;
    margin-block-end: 60px;
  }

  .grid-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * HEADER
   */

  .navbar { margin-inline: auto 40px; }


/**
   * HERO
   */

   .hero .container{
     position: relative;

   }
   .girl-image {
    max-width: 145  0px;
    left: 50%;
    transform: translate(-50%);
    margin-inline: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



 
  /**
   * About 
   */
    .about{
      overflow: hidden;
    }

    
 
  /**
   * Clients 
   */

    .review-card .text{
      font-size: 2rem;
    }
    .review-card .name{
      font-size: 2rem;
      color: var(--blue);
      font-weight: 500;
      text-align: start;
      margin-top: 3 0px;
    }
 
  /**
   * FOOTER
   */

   .safety .section-text { margin-block-end: 80px; }

   .footer-top { grid-template-columns: repeat(5, 1fr); }
 
 }